# Dependências
/node_modules
/.pnp
.pnp.js

# Arquivos de build
/build
/dist
/out

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Arquivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.coverage
htmlcov/
.pytest_cache/

# Arquivos de Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/go.sum
/import-dnd
/tmp/

# Banco de dados
*.db
*.sqlite
*.sqlite3

# Arquivos temporários
*.tmp
*.temp
.cache/