@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: Minecraft;
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url("../public/Minecraft.ttf") format("truetype");
  }
  
  @theme {
    --font-minecraft: 'Minecraft', sans-serif;
  }
  
